@model SK.WebAdmin.Areas.Location.Pages.Config.DetailModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <h5>
            TRANG CHỦ HIỆN TẠI
            <button class="btn btn-sm btn-primary float-right" onclick="updateHomePageConfig()">Cập nhật</button>
        </h5>
    </div>
    <div class="col-6 home-section p-2" id="section-home-program">
        <div class="w-100 h-100 home-section-img"></div>
        <div class="w-100 h-100 home-section-bg"></div>
        <span class="btn-change text-black font-weight-bold text-center">ĐIỀU HƯỚNG CHƯƠNG TRÌNH/SỰ KIỆN</span>
    </div>
    <div class="col-6 home-section p-2" id="section-home-map">
        <div class="w-100 h-100 home-section-img"></div>
        <div class="w-100 h-100 home-section-bg"></div>
        <span class="btn-change text-black font-weight-bold text-center">ĐIỀU HƯỚNG BẢN ĐỒ</span>
    </div>
    <div class="col-6 home-section p-2" id="section-home-noti">
        <div class="w-100 h-100 home-section-img"></div>
        <div class="w-100 h-100 home-section-bg"></div>
        <span class="btn-change text-black font-weight-bold text-center">ĐIỀU HƯỚNG THÔNG BÁO</span>
    </div>
    <div class="col-6 home-section p-2" id="section-home-contact">
        <div class="w-100 h-100 home-section-img"></div>
        <div class="w-100 h-100 home-section-bg"></div>
        <span class="btn-change text-black font-weight-bold text-center">ĐIỀU HƯỚNG THÔNG TIN LIÊN HỆ</span>
    </div>

</div>